.App {
  text-align: center;

  background-color: #c9d9ff;
}
h3 {
  font-family: "Shadows Into Light";
  padding-top: 4%;
  font-weight: 700;
  letter-spacing: 0.4em;
  font-size: 1em;
}
.cookie {
  width: 30%;
  height: 50%;
  cursor: pointer;
}
button {
  background-color: #c9d9ff;
  border-style: none;
  padding-top: 2%;
}
.fortuneMessage {
  font-family: "Shadows Into Light";
  font-weight: 700;
  letter-spacing: 0.4em;
  font-size: 1em;
  margin-top: 2%;
  padding-bottom: 2%;
}
